.main{
    position: relative;
    max-width: 1512px;
    background-color: rgb(255,255,255);
}
header{
    position: absolute;
    width: 1512px;
    height: 100px;
    left: -204px;
    top: 2px;
    background: rgb (255,255,255);
}
.logo{
    /* image 3 (Header) */
    position: absolute;
    left: 370px;
    top: 14px;
}
.text_header{
    width: 93px;
    height: 56px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10;
    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 0px 5px;

    color: rgb(26, 58, 39);
    font-family: Gilroy;
    font-size: 18px;
    font-weight: 400;
    line-height: 150%;
    letter-spacing: 0%;
    text-align: left;
}
.menu_links{
    position: absolute;
    width: 483px;
    height: 56px;
    left: 620px;
    top: 21px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 5;
    padding: 0px;
}
.menu_phone{
    position: absolute;
    height: 56px;
    left: 1142px;
    top: 22px;
    /* Автолейаут */
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10;
    padding: 0px 15px 0px 15px;
}
.img_phone{
    position: static;
    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 0px 10px;
}
button{
    position: absolute;
    width: 191px;
    height: 56px;
    left: 1359px;
    top: 22px;
    display: flex;
    flex-direction: row;
    justify-content: center;
        align-items: center;
    gap: 10;
    padding: 16px 30px 16px 30px;
    border-radius: 10px;
    background: rgb(59, 146, 84);
    color: rgb(255, 255, 255);
    font-family: Gilroy;
    font-size: 14px;
    font-weight: 600;
    line-height: 170%;
    letter-spacing: 5%;
    text-align: left;
    text-transform: uppercase;
    border: none;
}

main_screen{
    position: absolute;
    width: 1180px;
    height: 640px;
    left: 166px;
    top: 102px;
    border-radius: 30px;
    background: rgb(255, 255, 255);
}
.text_main_screen{
    position: absolute;
    width: 672px;
    height: 132px;
    left: 254px;
    top: 254px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 10;
    padding: 0px;
}
h1{
    height: 62px;
    padding: 0px;
    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 10px 0px;
    color: rgb(255, 255, 255);
    font-family: Unbounded;
    font-size: 56px;
    font-weight: 600;
    line-height: 110%;
    letter-spacing: 0%;
    text-align: center;
}

.main_screen_text_subtitle{
    position: static;
    width: 665px;
    height: 60px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 10;
    padding: 0px;
    flex: none;
    order: 1;
    flex-grow: 0;
    margin: 10px 0px;
    color: rgb(255, 255, 255);
    font-family: Unbounded;
    font-size: 20px;
    font-weight: 500;
    line-height: 150%;
    letter-spacing: 0%;
    text-align: center;
}
.testimonials{
    max-width: 1180px;
    margin:auto;
    position: relative;
}
.scroller{
    width: 100%;
    overflow-x: scroll;
    display: flex;
    scroll-snap-type: x mandatory;
}
.item{
    min-width: 100%;
    scroll-snap-align: center;
}
.testimonials .btn {
    position: absolute;
    top: 50%;
    margin-top: 20px;
    height: 30px;
    width: 30px;
    border-radius: 15px;
    background-color: rgba(95, 106, 117, 0.3);
    z-index: 1;
    line-height: 30px;
    text-align: center;
    color: white;
    font-weight: bold;
 }
 .testimonials .btn:hover{
    background-color: rgba(95, 106, 117, 0.5);
    cursor: pointer;
 }
 .testimonials .btn.next {
    right: 15px;
 }
 .testimonials .btn.prev {
    left: 15px;
 }